
<!DOCTYPE html>
<html>
  <head>
    <title>Today</title>
  </head>
  <body>
    <h1>Today</h1>
    <%= d.DateTime.new(2020, 10, 29)%>
    <p><%= d.strftime("The date is Thursday, " + d.strftime("%B_%d, %Y") %></p>
  </body>
</html>